<% content_for :title, @question.title %>
<% content_for :description, @question.content %>
<% content_for :image, asset_path('common/og-img.jpg') %>

<%= render partial: "layouts/nav", locals: { id: @category.id, category: @category } %>
<section class="article-show">
  <div class="pop-up-box">
  	<h2>
  		<%= @question.title %>
		</h2>
    <%= render partial: "layouts/sub_nav", locals: { category: @question.category.parent } %>
    <div class="pop-up-content">
	    <p class="question-content">
	    	<%= raw @question.content %>
			</p>
		</div>
  </div>
</section>
<script>

  $(window).on('load', function() {
    
    $(window).bind('resize', function() {
      $nav = $('#nav').offset().top
      $sub_nav = $('#sub_nav').offset() ? $('#sub_nav').offset().top - 50 : 0
    }).resize();

    $(window).bind('scroll', function() {
      $this_Top = $(this).scrollTop();
      if ( $this_Top > $nav ) {
        $('body').addClass('nav-fixed')
      } else {
        $('body').removeClass('nav-fixed')
      }

      if ( $this_Top > $sub_nav ) {
        $('body').addClass('sub_nav-fixed')
      } else {
        $('body').removeClass('sub_nav-fixed')
      }
  　}).scroll();

    $("#introduce-laws").click(function() {
      $('html,body').animate({
        scrollTop: $(".sec2-3").offset().top
        }, 'slow');
    })
  })
</script>
