<%= render partial: "categories/partials/nav", locals: { id: @category.id, category: @category } %>
<section>
  <div class="pop-up-box">
    <h3><%= @question.title %></h3>
  </div>
  <div class="pop-up-box">
    <p class="pop-up-content"><%= raw @question.content %></p>
  </div>
</section>


