<nav id="nav">
  <div class="nav-left flex-jfs-ac-">
    <div class="logo">
      <img src="/assets/img/common/logo_h.svg" alt="">
    </div>
  </div>
  <div class="nav-right flex-ac-jc-">
    <a href="" target="_blank" class="active">最新消息</a>
    <a href="" target="_blank">新聞稿</a>
    <a href="" target="_blank">闢搖專區</a>
    <a href="" target="_blank">影音記錄</a>
    <a href="" target="_blank">了解婚姻平權</a>
  </div>
</nav>
