<nav id="nav">
  <div class="nav-left flex-jfs-ac-">
    <div class="logo">
      <%= image_tag "common/logo_h.svg" %>
    </div>
  </div>
  <div class="nav-right flex-ac-jc-">
    <% @categories.find_each do |category| %>
    <!-- 輪每一個分類，如果是現在這個頁面的就打 active  -->
      <%= link_to category.title, category_path(category), class: is_active(category) %>
    <% end %>
  </div>
</nav>
