.pop-up {
  position: fixed;
  background: white;
  max-width: 1100px;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  height: 90%;
  top: 30px;
  display: none;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  z-index: 10024;

  h3 {
    color: #444;
  }
}

.is-open {
  position: relative;

  &::before {
    content: '';
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10000;
  }
}

.pop-up-top {
  .close-circle {
	  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  	background-color: #fff;
  	width: 42px;
  	height: 42px;
  	position: absolute;
  	right: -15px;
  	top: 0;
  	border-radius: 50%;
    transform: translateX(100%);
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .cross {
  	cursor: pointer;
  	border-left: 3px solid #aaa;
    transform: rotateX(30deg);
    height: 22px;
    width: 6px;
    transform-origin: 50% 50%;
    position: absolute;

  	&.right {
	    transform: rotate(45deg);
	    top: 6px;
	    right: 11px;
	  }

	  &.left {
	  	transform: rotate(-45deg);
	  	top: 4px;
	  	right: 11px;
	  }
  }
}

.pop-up-box {
	height: calc(100% - 20px);
  padding-top: 60px;
  overflow: auto;
  padding-bottom: 60px;
}

.pop-up-box {
  -webkit-overflow-scrolling: touch;
}

.pop-up-box::-webkit-scrollbar {
  height: 0;
  width: 0;
}

@media screen and (max-width:$breakpoint-small) {
	.pop-up {
		width: 100%;
		height: 100%;
		top: 0;
	}
	.pop-up-box {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
}