.pop-up {
  position: fixed;
  background: white;
  z-index: 40;
  left: 0;
  max-width: 1100px;
  width: 80%;
  left: 50%;
  transform: translate(-50%);
  height: 90%;
  top: 30px;
  display: none;
  box-shadow: 0px 10px 30px rgba(0,0,0,.1);

  h3 {
    color: #444;
  }
}

.pop-up-top {
  .close-circle {
	  box-shadow: 0px 2px 5px rgba(0,0,0,.3);
  	background-color: #fff;
  	width: 30px;
  	height: 30px;
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	border-radius: 50%;
  }
  .cross {
  	cursor: pointer;
  	border-left: 3px solid #aaa;
    transform: rotateX(30deg);
    height: 22px;
    width: 6px;
    transform-origin: 50% 50%;
    position: absolute;
  	&.right {
	    transform: rotate(45deg);
	    top: 6px;
	    right: 11px;
	  }
	  &.left {
	  	transform: rotate(-45deg);
	  	top: 4px;
	  	right: 11px;
	  }
  }
}

.pop-up-box {
	height: calc(100% - 20px);
  padding-top: 60px;
  overflow: scroll;
  padding-bottom: 60px;
}

.pop-up-box {
  -webkit-overflow-scrolling: touch;
}

.pop-up-box::-webkit-scrollbar {
  height: 0px;
  width: 0;
}

@media screen and (max-width:$breakpoint-small) {
	.pop-up {
		width: 100%;
		height: 100%;
		top: 0;
	}
	.pop-up-box {
	  padding-top: 40px;
	  padding-bottom: 40px;
	}
}