@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/flex_layout'; // dopplex
@import 'base/layout'; // landing page layout
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'element/bar';
// ========= layout =========
@import 'layout/header';
@import 'layout/2';
@import 'layout/3';
@import 'layout/4';
@import 'layout/5';
@import 'layout/6';
@import 'layout/7';
@import 'layout/pop_up_box';
@import 'layout/about';

body.nav-fixed {
	#nav { position: fixed; }
	padding-top: 50px
}

body.sub_nav-fixed {
	#sub_nav { position: fixed; }
	.pop-up-content {
		padding-top: 40px!important;
	}
}

* {
	font-family: $p400;
	font-weight: 400;
}

h2 {
	font-family: $p300;
	text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: #2f2f2f;

	b {
		color: rgba(0,0,0,.45);
		margin-left: 10px;
	}

	@media screen and ( max-width: 992px ) {
		font-size: 28px;
	}
}
h3 {
	color: #FF4747;
}
section {
	p {
		line-height: 1.7;
		letter-spacing: 1px;
		margin-top: 25px;
		color: rgba(0,0,0,.6);
		b {
			margin: 0 4px;
			color: #3b92f5;
		}
	}
}

footer {
	background-color: #212121;
	padding: 40px 5%;
	text-align: left;
	h5 {
		margin-bottom: 15px;
		opacity: .7;
	}
	h5, p, h4 {
		font-size: 15px;
		color: rgba(255,255,255,.5);
		font-family: $p400;
		font-weight: 400;
	}
	p {
		color: #fff;
	}
	h4 { color: rgba(255,255,255,1);}
}

@media screen and (max-width: 992px) {
	footer > div {
		margin-top: 10px!important;
		margin-bottom: 50px!important;
	}
	footer > div:nth-last-child(1) {
		margin-top: 10px!important;
		margin-bottom: 10px!important;
	}

}

.supportus {
	margin-top: 15px;
	img {
		width: 100%;
		max-width: 170px;
		vertical-align: bottom;
	}
	a {
		vertical-align: bottom;
		display: inline-block;
		width: 120px;
		line-height: 35px;
		background-color: #ff9a9a;
		border-radius: 30px;
		margin-left: 10px;
		color: #fff;
		opacity: .95;
		transition: .3s ease;
		&:hover {
			opacity: 1;
		}
	}
}

.h3_2 {
	font-size: 18px;
	color: #444444;
}

#blog {
	#nav {
		position: fixed
	}

	.main-blog {
		margin-top: 50px
	}

	h1 {
		font-size: 28px;
		color: #444;
		padding-left: 10px;
		opacity: .85;
	}

	.content {
		max-width: 1200px;
		padding: 5% 2.5%;
	}
}

#blog {

	.article {
		position: relative;
		border: solid 1px #eeeeee;

		.img {
			position: relative;
			z-index: 2;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
		  padding-top: 52.22%;
		  border-radius: 4px;
		  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
		}

		.text {
			text-align: left;
			background-color: #fff;
			border-radius: 4px;
			padding: 15px;
			margin: 0 0 0 auto;
		  background-color: #ffffff;
		  min-height: 110px;
		}

		@media screen and (max-width: 768px) {
			.img {
				position: absolute;
				padding-top: 0;
				width: 120px;
			}

			.text {
				padding-left: 140px;
				min-height: 120px;
			}
		}

		h2 {
			font-size: 17px;
			text-align: left;
			font-family: $p400;
			font-weight: 400;
			margin-bottom: 5px;
			max-height: 50px;
			overflow: hidden;
		}

		p {
			margin-top: 0;
			opacity: .65;
			font-size: 14px;
			line-height: 1.5;
			max-height: 66px;
			overflow: hidden;
		}
	}
}

#blog.blog-understand {
	h1 {
		display: none;
	}

	h5 {
		font-size: 28px;
		color: #444;
		padding-left: 10px;
		margin-bottom: 10px;
		margin-top: 20px;
		opacity: .85;

		&:before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 15px;
			background-color: $r3;
		}
	}

	.articles {
		padding-bottom: 20px;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
	}
}

.index-page-pop-up{
	.pop-up-content {
		width: 80%;
	}
}
.pop-up-box {
	overflow: auto;
}


.article-show .pop-up-box {
	padding-top: 0;
	height: auto;

	& > * {
		width: 100%;
		text-align: left;
	}

	nav {
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(0,0,0,.1);
		height: 40px;
		padding: 0 20px;

		div {
			flex: 0 0 auto;
			height: auto;
			vertical-align: middle;
			white-space: initial;
			min-width: 0;

			i {
				margin-right: 10px;
			}
		}
	}

	h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    padding: 0 20px;
	}

	h2.shrink {
		font-size: 24px;
	}

	.pop-up-content {
		padding: 0 25px;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		* {
			max-width: 100%;
			width: auto;
			text-align: left;
			color: #444;
			margin-left: 0;
			margin-right: 0;
		}

		a {
			color: #69aaf5!important;
			font-family: $p400;
			font-weight: 400;
			text-decoration: underline!important;
		}

		img {
			max-width: 100%!important;
			height: auto!important;
		}
	}

	.header {
		position: relative;
		width: 100%;
		text-align: center;
		height: auto;
		min-height: 0;
		min-width: 0;
		margin: 0;
		white-space: none;
		font-size: 0;
		overflow: hidden;

		.img-bg-cover {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			top: 0;
			left: 0;
			filter: blur(10px);
			transform: scale(1.2);
		}

		img {
			width: 100%;
			max-width: 500px;
			position: relative;
			z-index: 2;
		}
	}
}

.question-content {
	white-space: pre-line;
}
