@charset "UTF-8";
// ========= 客製化區 =========
@import 'custom_style/variables'; // 變數
@import 'custom_style/font'; // landing page layout
// ========= base =========
@import 'base/reset'; // doppler reset
@import 'base/flex_layout'; // dopplex
@import 'base/layout'; // landing page layout
// ========= element =========
@import 'element/btn'; // btn & calltoaction
@import 'element/nav';
@import 'element/bar';
// ========= layout =========
@import 'layout/header';
@import 'layout/2';
@import 'layout/3';
@import 'layout/4';
@import 'layout/5';
@import 'layout/6';
@import 'layout/7';
@import 'layout/pop_up_box';
@import 'layout/about';

// ========= font icon =========
@import 'icon';

body.nav-fixed {
	#nav { position: fixed; }
	padding-top: 50px
}

body.sub_nav-fixed {
	#sub_nav { position: fixed; }
	.pop-up-content {
		padding-top: 40px!important;
	}
}

* {
	font-family: $p400;
	font-weight: 400;
}

h2 {
	font-family: $p300;
	text-align: center;
  font-size: 42px;
  font-weight: 300;
  color: #2f2f2f;

	b {
		color: rgba(0,0,0,.45);
		margin-left: 10px;
	}

	@media screen and ( max-width: 992px ) {
		font-size: 28px;
		line-height: 1.25;

		&.mobile-big {
			font-size: 42px;
		}
	}
}

.show-on-mobile {
	display: none;
}

@media screen and ( max-width: 575.98px ) {
	h1, h2, h3, h4, h5, h6 {
		line-height: 1.25;
	}

	.show-on-mobile {
		display: block;
	}

	.hide-on-mobile {
		display: none;
	}
}

h3 {
	color: #FF4747;
}

section {
	p {
		line-height: 1.7;
		letter-spacing: 1px;
		margin-top: 25px;
		color: rgba(0,0,0,.6);
		b {
			margin: 0 4px;
			color: #3b92f5;
		}
	}
}

#footer {
	background-color: #f8f8f8;
	padding: 40px 5%;
	text-align: left;
	color: #3c3c3b;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 15px;

	@media screen and (max-width: 992px) {
		flex-wrap: wrap;
	}

	.left {
		flex: 0 0 350px;

		@media screen and (max-width: 992px) {
			margin-bottom: 30px;
		}

		div {
			opacity: 0.7;
		}

		img {
			width: 80%;
			margin-bottom: 15px;
		}
	}

	.right {
		flex: 1 1 auto;
		max-width: 550px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-left: 35px;

		@media screen and (max-width: 992px) {
			margin-left: 0px;
		}
	}

	.r-left {
		flex: 0 0 30%;
		margin-right: 5%;

		@media screen and (max-width: 500px) {
			flex: 0 0 100%;
		}
	}

	.r-right {
		flex: 0 0 60%;

		@media screen and (max-width: 500px) {
			flex: 0 0 100%;
		}
	}

	.r-bottom {
		flex: 0 0 100%;
		text-align: left;
		opacity: 0.7;
	}

	.f-block {
		margin-bottom: 20px;
	}

	.f-block a {
		display: block;
		color: #3c3c3b;
		margin-bottom: 5px;
		opacity: 0.7;

		span {
			display: inline-block;
			width: 50px;
			margin-right: 5px;
		}

		b {
			text-decoration: underline;
		}
	}

	.f-block a.title {
		font-family: $p500;
		font-weight: 500;
		opacity: 1;
		font-size: 16px;

		&.no-link {
			cursor: auto;
		}

		&.has-arrow {
			position: relative;
			padding-right: 15px;
			transition: 0.3s;
			display: inline-block;

			i {
				position: absolute;
				top: 0;
				right: 0;
				display: inline-block;
				transform: scale(0.5) translateY(2px);
				transition: 0.3s;
			}

			&:hover {
				opacity: 0.7;

				i {
					right: -5px;
				}
			}
		}
	}

	.f-block p {
		opacity: 0.7;
		margin-top: 15px;
		margin-bottom: 20px;
	}

	.s-icons {
		margin-top: 20px;

		a {
			margin: 0 12px 0 0;
			flex: 0 0 22px;
		}

		img {
			height: 100%;
			width: auto;
		}
	}
}

.supportus {
	margin-top: 15px;
	img {
		width: 100%;
		max-width: 170px;
		vertical-align: bottom;
	}
	a {
		vertical-align: bottom;
		display: inline-block;
		width: 120px;
		line-height: 35px;
		background-color: #ff9a9a;
		border-radius: 30px;
		margin-left: 10px;
		color: #fff;
		opacity: .95;
		transition: .3s ease;
		&:hover {
			opacity: 1;
		}
	}
}

.h3_2 {
	font-size: 18px;
	color: #444444;
}

#blog {
	#nav {
		position: fixed
	}

	.main-blog {
		margin-top: 50px
	}

	h1 {
		font-size: 28px;
		color: #444;
		padding-left: 10px;
		opacity: .85;
	}

	.content {
		max-width: 1200px;
		padding: 5% 2.5%;
	}
}

#blog {

	.article {
		position: relative;
		border: solid 1px #eeeeee;

		.img {
			position: relative;
			z-index: 2;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			width: 100%;
		  padding-top: 52.22%;
		  border-radius: 4px;
		  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
		}

		.text {
			text-align: left;
			background-color: #fff;
			border-radius: 4px;
			padding: 15px;
			margin: 0 0 0 auto;
		  background-color: #ffffff;
		  min-height: 110px;
		}

		@media screen and (max-width: 768px) {
			.img {
				position: absolute;
				padding-top: 0;
				width: 120px;
			}

			.text {
				padding-left: 140px;
				min-height: 120px;
			}
		}

		h2 {
			font-size: 17px;
			text-align: left;
			font-family: $p400;
			font-weight: 400;
			margin-bottom: 5px;
			max-height: 50px;
			overflow: hidden;
		}

		p {
			margin-top: 0;
			opacity: .65;
			font-size: 14px;
			line-height: 1.5;
			max-height: 66px;
			overflow: hidden;
		}
	}
}

#blog.blog-understand {
	h1 {
		display: none;
	}

	h5 {
		font-size: 28px;
		color: #444;
		padding-left: 10px;
		margin-bottom: 10px;
		margin-top: 20px;
		opacity: .85;

		&:before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			margin-right: 15px;
			background-color: $r3;
		}
	}

	.articles {
		padding-bottom: 20px;
		box-shadow: 0 1px 0 0 rgba(0,0,0,.05);
	}
}

.index-page-pop-up {
	max-width: 684px;
	height: auto;
	min-height: initial;
	overflow: initial;

	.pop-up-box {
		height: auto;
		padding: 0;
		max-height: 100vh;
		overflow: auto;
	}

	.pop-up-content {
		width: 100%;
		padding: 18px;
		margin: 0;

		& > div {
			padding: 28px 42px 42px;
			border-radius: 2px;
			margin-bottom: 15px;
			color: #fff;

			&:last-child {
				margin-bottom: 0;
			}

			h3 { font-size: 28px; color: #fff; margin-bottom: 12px }
			div {
				font-size: 15px;
				line-height: 1.4;
				letter-spacing: normal;
				text-align: justify;
			}

			&.green { background-color: #32a13f }
			&.orange {
				background-color: #ffc533;

				h3, div {
					color: #000000;
				}
			}
			&.blue { background-color: #004491 }
		}
	}

	@media screen and (max-width:$breakpoint-small) {
		.pop-up-top {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.5);

			.close-circle {
				position: initial;
				float: right;
				margin: 11px;
				transform: none;
				width: 30px;
				height: 30px;
			}
		}

		.pop-up-box {
			padding-top: 52px;
			padding-bottom: 0;
		}

		.pop-up-content {
			padding: 0;
		}
	}
}

.article-show .pop-up-box {
	padding-top: 0;
	height: auto;

	& > * {
		width: 100%;
		text-align: left;
	}

	nav {
		width: 100%;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(0,0,0,.1);
		height: 40px;
		padding: 0 20px;

		div {
			flex: 0 0 auto;
			height: auto;
			vertical-align: middle;
			white-space: initial;
			min-width: 0;

			i {
				margin-right: 10px;
			}
		}
	}

	h2 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto;
    padding: 0 20px;
	}

	h2.shrink {
		font-size: 24px;
	}

	.pop-up-content {
		padding: 0 25px;
		max-width: 800px;
		margin-left: auto;
		margin-right: auto;

		* {
			max-width: 100%;
			width: auto;
			text-align: left;
			color: #444;
			margin-left: 0;
			margin-right: 0;
		}

		a {
			color: #69aaf5!important;
			font-family: $p400;
			font-weight: 400;
			text-decoration: underline!important;
		}

		img {
			max-width: 100%!important;
			height: auto!important;
		}
	}

	.header {
		position: relative;
		width: 100%;
		text-align: center;
		height: auto;
		min-height: 0;
		min-width: 0;
		margin: 0;
		white-space: none;
		font-size: 0;
		overflow: hidden;

		.img-bg-cover {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			top: 0;
			left: 0;
			filter: blur(10px);
			transform: scale(1.2);
		}

		img {
			width: 100%;
			max-width: 500px;
			position: relative;
			z-index: 2;
		}
	}
}

.sec-addition {
	min-height: 0;
	height: 0;

	.cta-button {
		width: 112px;
		padding: 13px 0;
		cursor: pointer;
		text-align: center;
		font-size: 17px;
		font-weight: 500;
		color: #fff;
		position: fixed;
		z-index: 9999;
		left: 0;
		bottom: 15vh;
		background-image: linear-gradient(114deg, #47dd84 8%, #4babf9 51%, #a164f2 92%);
		border-radius: 0 22px 22px 0;
		box-shadow: 0 8px 32px 0 rgba(59, 146, 245, 0.51);
		display: block;
		transition: 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}

	@media (max-width: 575.98px) {
		.cta-button {
			bottom: 25px;
		}
	}
}

.question-content {
	white-space: pre-line;
}
