<footer class="flex-l3-m1-">
  <div>
    <h5>關於我們</h5>
    <p>
      婚姻平權大平台於2016年11月正式成軍，<br>
      為2016主要推動婚姻平權法案修民法的官方平台，<br>
      由五個同志與性別組織所組成，分別為：<br>
      <br>
      台灣同志諮詢熱線協會<br>
      台灣同志家庭權益促進會<br>
      婦女新知基金會<br>
      台灣同志人權法案遊說聯盟<br>
      酷摩沙獎<br>
      <br>
      等共同組成。
      <!-- <a href="https://hotline.org.tw/" target="_blank">社團法人台灣同志諮詢熱線協會</a><br>
      <a href="http://www.lgbtfamily.org.tw/" target="_blank">社團法人台灣同志家庭權益促進會</a><br>
      <a href="http://www.awakening.org.tw/chhtml/index.asp" target="_blank">財團法人婦女新知基金會</a><br>
      <a href="http://www.pridewatch.tw/beta/" target="_blank">台灣同志人權法案遊說聯盟</a><br> -->
    </p>
  </div>
  <div>
    <h5>製作團隊</h5>
    <p>
      文案整理與規劃 / <br>
      呂欣潔、簡維萱、楊淳方、郭宜婷、薛舜文<br>
      <br>
      網站設計與工程 / <br>
      郭丞哲、余采鈴、林凱偉、陳億瑞<br>
    </p>
  </div>
  <div>
    <h5>特別感謝｜參考資訊</h5>
    <p>
      <a href="https://www.twreporter.org/" target="_blank">報導者</a><br>
      <a href="https://www.facebook.com/lawfirmagainstrumour/" target="_blank">婚姻平權闢謠事務所</a><br><br>
    </p>
    <h5>特別感謝｜贊助夥伴</h5>
    <p>
      <a href="">陳澤杉</a><br>
      <a href="">誠拓設計有限公司</a><br><br>
    </p>
    <p>
      以及 感謝全台同志與性別團體 和 每一個你 為台灣的平等共同努力<br>
      如有任何問題，歡迎和各團體聯繫
    </p>
  </div>
</footer>
