<div class="category">
        <%= link_to category.title, category_path(category) %>
    	<div class="published-date"><%= (article.post_time || article.created_at).strftime('%B %d, %Y') %></div>
</div>