<nav>
	<div class="goback-btn">
		<i class="fa fa-angle-left" aria-hidden="true"></i>回上一頁
	</div>
	<div class="category">
		<%= title %>
	</div>
  <div class="copy-btn" onclick="copyToClipboard();">
		複製連結
	</div>
</nav>
